@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300;400&display=swap');

:root {
    --primary-color: #ffd149;
}

body {
    font-family: 'Comic Neue', cursive;
    margin: 0px;
}

.heading {
    padding: 1.2rem;
    text-align: center;
    font-size: xxx-large;
    background-color: var(--primary-color);
}

main {
    margin: auto;
    max-width: 800px;
}

textarea {
    display: block;
    width: 100%;
    min-height: 20vh;
    margin-top: 1.5rem;
    font-size: large;
}
.button {
    background-color: var(--primary-color);
    padding: 1rem 2rem;
    font-size: large;
    margin: 1rem 0rem;
}

#output {
    width: 100%;
    min-height: 15vh;
    margin-top: 1rem;
    border:0.7px solid black;
    box-sizing: border-box;
}

footer {
    background-color: var(--primary-color);
    margin: auto;
    font-size: larger;
    text-align: center;
    padding: 2rem;
    bottom: 0;
    position: fixed;
    width: 100%;

}
    

    
